.vscode/c_cpp_properties.json
SkullKing/SkullKing.pro.user
.vscode/settings.json
SkullKing2/main.cpp
SkullKing2/Resource.qrc
SkullKing2/SkullKing2.pro
SkullKing2/SkullKing2.pro.user
SkullKing2/Game/client.cpp
SkullKing2/Game/client.h
SkullKing2/Game/client.ui
SkullKing2/Game/game.cpp
SkullKing2/Game/game.h
SkullKing2/Game/game.ui
SkullKing2/LoginClasses/forgotpassword.cpp
SkullKing2/LoginClasses/forgotpassword.h
SkullKing2/LoginClasses/forgotpassword.ui
SkullKing2/LoginClasses/login.cpp
SkullKing2/LoginClasses/login.h
SkullKing2/LoginClasses/login.ui
SkullKing2/LoginClasses/signup.cpp
SkullKing2/LoginClasses/signup.h
SkullKing2/LoginClasses/signup.ui
SkullKing2/Menu/menu.cpp
SkullKing2/Menu/menu.h
SkullKing2/Menu/menu.ui
SkullKing2/MyClasses/card.cpp
SkullKing2/MyClasses/card.h
SkullKing2/MyClasses/deck.cpp
SkullKing2/MyClasses/deck.h
SkullKing2/MyClasses/king.cpp
SkullKing2/MyClasses/king.h
SkullKing2/MyClasses/my_exception.cpp
SkullKing2/MyClasses/my_exception.h
SkullKing2/Resource/Audio/pirate-of-caribbean.mp3
SkullKing2/Resource/Cards/backskin.png
SkullKing2/Resource/Cards/Map1.png
SkullKing2/Resource/Cards/Map2.png
SkullKing2/Resource/Cards/Map3.png
SkullKing2/Resource/Cards/Map4.png
SkullKing2/Resource/Cards/Map5.png
SkullKing2/Resource/Cards/Map6.png
SkullKing2/Resource/Cards/Map7.png
SkullKing2/Resource/Cards/Map8.png
SkullKing2/Resource/Cards/Map9.png
SkullKing2/Resource/Cards/Map10.png
SkullKing2/Resource/Cards/Map11.png
SkullKing2/Resource/Cards/Parrot1.png
SkullKing2/Resource/Cards/Parrot2.png
SkullKing2/Resource/Cards/Parrot3.png
SkullKing2/Resource/Cards/Parrot4.png
SkullKing2/Resource/Cards/Parrot5.png
SkullKing2/Resource/Cards/Parrot6.png
SkullKing2/Resource/Cards/Parrot7.png
SkullKing2/Resource/Cards/Parrot8.png
SkullKing2/Resource/Cards/Parrot9.png
SkullKing2/Resource/Cards/Parrot10.png
SkullKing2/Resource/Cards/Parrot11.png
SkullKing2/Resource/Cards/Pirate.png
SkullKing2/Resource/Cards/PirateFlag1.png
SkullKing2/Resource/Cards/PirateFlag2.png
SkullKing2/Resource/Cards/PirateFlag3.png
SkullKing2/Resource/Cards/PirateFlag4.png
SkullKing2/Resource/Cards/PirateFlag5.png
SkullKing2/Resource/Cards/PirateFlag6.png
SkullKing2/Resource/Cards/PirateFlag7.png
SkullKing2/Resource/Cards/PirateFlag8.png
SkullKing2/Resource/Cards/PirateFlag9.png
SkullKing2/Resource/Cards/PirateFlag10.png
SkullKing2/Resource/Cards/PirateFlag11.png
SkullKing2/Resource/Cards/Queen.png
SkullKing2/Resource/Cards/SkullKing.png
SkullKing2/Resource/Cards/Treasure1.png
SkullKing2/Resource/Cards/Treasure2.png
SkullKing2/Resource/Cards/Treasure3.png
SkullKing2/Resource/Cards/Treasure4.png
SkullKing2/Resource/Cards/Treasure5.png
SkullKing2/Resource/Cards/Treasure6.png
SkullKing2/Resource/Cards/Treasure7.png
SkullKing2/Resource/Cards/Treasure8.png
SkullKing2/Resource/Cards/Treasure9.png
SkullKing2/Resource/Cards/Treasure10.png
SkullKing2/Resource/Cards/Treasure11.png
SkullKing2/Resource/Cards/Treasure12.png
SkullKing2/Resource/Game/Background.png
SkullKing2/Resource/Game/cursor.png
SkullKing2/Resource/Game/GameIcon.png
SkullKing2/Resource/Game/GameName.png
SkullKing2/Resource/Game/loginBG.jpg
SkullKing2/Resource/Game/logoutBG.jpg
SkullKing2/Resource/Game/menuBG.jpg
SkullKing2/Resource/Game/numbers.png
SkullKing2/Resource/Game/score.png
SkullKing2/Resource/Game/skull-with-flower-design-it.jpg
SkullKing2/Resource/Game/SkullMark.png
SkullKing2/Resource/Game/startgameBG.jpg
SkullKing2/Resource/Icons/arrow-right-from-bracket-solid.svg
SkullKing2/Resource/Icons/clock-rotate-left-solid.svg
SkullKing2/Resource/Icons/door-open-solid.svg
SkullKing2/Resource/Icons/file-signature-solid.svg
SkullKing2/Resource/Icons/gamepad-solid.svg
SkullKing2/Resource/Icons/key-solid.svg
SkullKing2/Resource/Icons/play-solid.svg
SkullKing2/Resource/Icons/stop-solid.svg
SkullKing2/Resource/Icons/tower-broadcast-solid.svg
SkullKing2/Resource/Icons/user-plus-solid.svg
SkullKing2/Resource/Icons/user-solid.svg
